.task-add-page .page-header{
	margin-bottom: 10px;
}
.icon-task-list{
	background:url(../img/task/renwu.png) no-repeat ;
}

.icon-task-lk{
	background:url(../img/addcode/lk.png) no-repeat ;
}
.table-task-list{
	
}
/*状态*/
.text-state-ok{
	color: #0c6eba;
}
.text-state-no{
	color: #ff9804;
}
.btn-sm{
	padding-top: 2px;
	padding-bottom: 2px;
}
.view{
	display: inline-block;
	padding: 5px 10px;
	margin: 0 10px;
	border: 1px solid #3894C7;
	border-radius: 10px;
	color: #3894C7;
	font-size: 12px;
	font-weight: bold;
}
.view:hover{
	color: #FFF;
	background: #3894C7;
}

/*nav-task*/
.nav-task{
	position: relative;
	top: 7px;
	display: inline-block;
	border: 1px solid #EEE;
	border-left: none;
}
.nav-task>li{
	float: left;
}
.nav-task>li>a{
	color: #767676;
	font-size: 14px;
	font-weight: bold;
	border-left: 1px solid #EEE;
	background: #FFF;
}
.nav-task>li.active>a:hover,
.nav-task>li.active>a{
	background: #40abe8;
	color: #FFF;
	border-left-color: #40abe8;
}

.nav-task>li>a:hover{
	color: #3893C7;
	background: #FFF;
}
.task-add-page .link-posit{
	top: 15px;
}
.task-add-page .new-table-box{
	
}
.shop-num{
	position: relative;
	top: -7px;
	font-size: 16px;
	margin-left: 30px;
}
.text-red{
	color: #f02c2c;
}
.table-before{
	position: relative;
}
.icon-link{
	background: url(../img/icon/team-member/det/gl.png) no-repeat;
	top: -4px;
}

.icon-qy{
	background: url(../img/addcode/qy.png);
}
.link-span{
	display: inline-block;
	border-radius: 20px;
	background: #4C9FCB;
	font-size: 12px;
	height: 18px;
	padding: 2px 8px;
	color: #FFF;
}
.map-box{
	padding: 5px;
	width: 100%;
	height: 700px;
	border: 1px solid #EEE;
	margin-top: 1px;
	background: #FFF;
}

/* 边框*/
.tab-content{

	height: 780px;
	padding-top:30px;
	border: 1px solid #ebebeb;
	padding-bottom:200px;
}


.page-turn{
   display:table-cell;
	width:1700px;
	height:500px;
	vertical-align:middle;
	text-align:center;
	*float:left;
	*font-family:simsun;
	*font-size:200px;
	*line-height:1;

}

.table>thead>tr>td{
	padding: 200px;
}
.main-footer{
	background: #DfDFDF;
	height: 45px;
	width: auto;
}


.text-footer{
	float: right;
	padding-right: 100px;
}



.form-group-big{
	width: auto;
	height: 200px;
}

.add-static{
	width: 39px;
}

.page-footer {

	position: relative;
	min-height: 50px;
	line-height: 50px;
	padding-left: 26px;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: -26px;
	margin-right: -26px;
	margin-bottom: 20px;
	vertical-align: middle;
	font-size: 12px;
	background:#ebebeb;
	color: #5D5D5D;
}

.btu-zdy{
	display:table-cell;
	width:1700px;
	height:100px;
	vertical-align:middle;
	text-align:center;
	*float:left;
	*font-family:simsun;
	*font-size:200px;
	*line-height:1;

}

.container-all{
	width: auto;
	height: auto;
}

.row-h{
	height: 50px;
}

.row-d{
	height: 30px;
}

.text-tx{
	margin:10px ;
}
.text-wz{
	font-size: 12px;
}


.text-hd{
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 600;
}


.row-hd{
	padding-top: 150px;
}

.text-gery{
	color:#969696 ;
	font-weight: 800;
	font-size: 12px;
}

.text-blue-s{
	color:#3893c7 ;
	font-size: 12px;

}

.text-gery-hs{
	color: #919191;
	font-size: 12px;
}


.label-blue{
	display: inline-block;
	background-color: #2385ff;
	width:23px;
	height:23px;
	padding-top: 6px;
	padding-left: 5px;
}

.table-tr{
	padding-top: 75px;
}

.text-h{
	margin-top: 30px;
}

.bordered-c{
	border: 1px solid;
	color: #1a2327;
	width: auto;
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;

}

.row-jl{
	margin-top: 35px;
	margin-bottom: 35px;
}
.row-low{
	margin-top: 26px;
	margin-bottom: 26px;
}

.text-redd{
	color: #ff3f3f;
	font-size: 12px;

}

.text-bluee{
	color: #5da7d1;
	font-size: 12px;
}

.icon-kf{
	background: url("../img/task/kfje.png");
	margin-right: 0px;
}

.main-all{
	margin-bottom: 18%;

}

.col-blue-h{

	padding-top: 16px;
	padding-left: 15px;
}

.row-dd{
	padding-top: 4px;
}
