.pay-status{
	float: left;
	margin-right:64px;
}
.pay-status li{
	float:left;
	height:44px;
	padding:15px;
	border:1px solid #dedede;
	border-right:0;
	font-size:14px;
	line-height: 14px;
	color:#767676;
	font-weight: bold;
	cursor:pointer;
}
.pay-status li:last-child{
	border-right:1px solid #dedede;
}
.pay-status li:hover,
.pay-status li:active{
	background-color:#40abe8;
	color:#fff;
}
.pay-status-active{
	background-color:#40abe8;
	color:#fff !important;
}
th{
	text-align: left;
}
td.reason{
	max-width:210px;
	text-overflow: ellipsis;
	overflow: hidden;
}
td img{
	float:left;
	width:108px;
	height:72px;
	margin-right:2px;
}
.new-table tbody tr td.payed{
	color:#3893c7;
}
.time-out{
	font-size: 12px;
	color:#f04949;
}
.icon-tag-wfk{
	padding:3px 8px;
	margin-right:10px;
	color:#fff;
	background:url(../img/abnormal/tag-wfk.png) no-repeat;
	background-size: cover;
}
.time-out-wfk{
	margin:3px 0;
	color:#f04949;
}
.icon-tag-yfk{
	padding:3px 8px;
	margin-right:10px;
	color:#fff;
	background:url(../img/abnormal/tag-yfk.png) no-repeat;
	background-size: cover;
}
.new-table tbody tr td.payed,
.time-out-yfk{
	margin:3px 0;
	color:#3893c7;
}
.time-out>p,
.payed>p{
	margin:3px 0;
}
table.new-table>tbody>tr>td,
table.new-table>thead>tr>th
{
	padding-left:8px;
}
