.fr{
	float:right;
}
.fl{
	float:left;
}
.icon-month-task{
	background: url(../img/icon/month-task.png) no-repeat center;
}
.search-date{
	margin-right:10px;
	width:120px;
	top:0;
	vertical-align: middle;
}
.select-area{
	margin-right:37px;
	padding-bottom:10px;
}
.select-area label{
	margin-top:8px;
	color:#9d9d9d;
	font-size:12px;
	font-weight: normal;
}
.select-area .btn-sm{
	padding:5px 10px;
	font-size:12px;
}
.visit-times{
	display: inline-block;
	margin-right:10px;
	width:115px;
}
.visit-num{
	display: inline-block;
	margin:0 5px;
	color:#3893c7;
}
.dropdown-toggle{
	padding:6px 12px 6px 18px;
	font-size:12px;
	background-color: #fff;
}
.show-tick{
	background-color: transparent;
	border:0;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.table-abnormal-list{
	margin:0 -20px 20px;
}
.box-body{
	padding:0 19px;
}
.page-index{
	position:absolute;
	bottom:37px;
	left:50%;
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.btn-move{
	position: relative;
	bottom:1px;
}
