/*-firefox--虚线边框*/
.btn ,.btn:hover.btn:focus,a,a:hover,a:focus{
	outline: none;
	border-style: none;
}
.role-check-icon{
	display: inline-block;
	top: 5px;
	background: url(../img/icon/character/jsck.png);
}
.role-icon{
	display: inline-block;
	top: 5px;
	background: url(../img/icon/character/jsmc.png);
}

/*角色查看*/
/*table style*/
.character table{
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.character table tr th,
.character table tr td{
	padding-left:26px ;
	
}
.character table tr th{
	background: #555555;
	color: #FFF;
}
.character table tr:hover >td{
	background: #FFF;
}
.character table tr td>a,
.character table tr td{
	color: #5c5c5c;
	background: #FAFAFA;
}
.character table tr td>a:hover{
	color: #A0B66F;
}
/* --/table style*/

/*remark style;*/
.remark-title{
	padding: 5px 26px;
	background: #7b7b7b;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}
.remark-body{
	padding: 20px 26px;
	background: #FAFAFA;
	color: #5c5c5c;
}
/*----/remark style;*/
/*alert style*/
.caution{
	background: #A8BD7C;
	border-color: #A8BD7C ;
}
/*----alert style*/

