body{
	background: #fafafa;
	font-family: simsun;
}
/* <main>*/
.main {
	padding: 20px;
	padding-top: 0;
	background-color: #fafafa;
}

@media (min-width: 768px) {
	.main {
		padding-right: 26px;
		padding-left: 26px;
	}
}
/*--- </mian>----   */
/*PAGE-HEADER*/
.main .page-header {
	position: relative;
	min-height: 66px;
	line-height: 66px;
	padding-left: 26px ;
	padding-bottom: 0;
	margin-top: 0;
	margin-left: -26px;
	margin-right: -26px;
	margin-bottom: 20px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	background:#fff;
	color: #5D5D5D;
}
a,a:hover,a:focus,button,button:hover,button:focus,button:active{
	outline: 0;
	-moz-outline:none;
	text-decoration: none;
	outline: medium none !important;
}

.box.border {
    border-radius: 5px;
}
.box {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.box.border.pink {
    border: 1px solid #DA4F82;
}
.box.border.blue {
    border: 1px solid #348EC0;
}
.box.border.gray {
    border: 1px solid #5E5E5E;
}
.box.border.red {
    border: 1px solid #d43f3a;
}
.box.border.green{
    border: 1px solid #96AA6B;
}
.box.border.orange{
    border: 1px solid #D8993C;
}
.box.border.default{
    border: 1px solid #CCC;
}
/*阶段box */
.box.border.yellow{
    border: 1px solid #D29337;
}
.yellow .box-title{
	background: #EFAD4D;
	border-bottom: #D29337;
}
/*紫色*/
.box.border.violet{
    border: 1px solid #498CA2;
}
.violet .box-title{
	background: #A795CE;
	border-bottom: #498CA2;
}
/*青绿色*/
.box.border.cyan{
    border: 1px solid #71AFC4;
}
.cyan .box-title{
	background: #71AFC4;
	border-bottom: #71AFC4;
}

.box-title{
	position: relative;
	min-height: 38px;
	padding: 5px 20px  10px;
	color: #FFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}
.box-body:before,
.box-body:after{
	display: table;
  	content: " ";
}
.box-body:after{
	clear: both;
}
.box-body{
	min-height: 635px;
	padding: 10px 20px;
	background: #FFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
@media (max-width:768px ) {
	.box-body{
		padding: 15px 26px;
	}
}
.pink .box-title{
	background: #D55383 ;
	border-bottom: #DA4F82;
}
.gray .box-title{
	background: #555;
	border-bottom: #5E5E5E;
}
.red .box-title{
	background: #d9534f;
	border-bottom: #d43f3a;
}
.green .box-title{
	background: #A0B66F;
	border-bottom: #96AA6B;
}
.orange .box-title{
	background: #EFAD4D;
	border-bottom: #D8993C;
}
.blue .box-title{
	background: #3894C7;
	border-bottom: #348EC0;
}
.icon{
	display: inline-block;
	position: relative;
	z-index: 100;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
/*区域icon*/
.icon-district{
	background: url(../img/icon/team-member/list/quyu.png) no-repeat;
	top: 5px;
}
/*组织结构*/
.icon-structure{
	background: url(../img/icon/team-member/list/zzjg.png) no-repeat;
	top: 5px;
}
/* 错误信息提示 */
.msg-error{
	display: none;
	font-size: 12px;
	font-weight: 300;
}
/* 显示错误信息 */
.has-error .msg-error{
	display: block;
}
/*公司列表*/
.icon-comp-list{
	background: url(../img/icon/team-member/det/Shape.png) no-repeat;
	top: 5px;
}
/*业务详情*/
.icon-ywdet,
.icon-khxq{
	background: url(../img/icon/team-member/det/bfjl.png) no-repeat;
	top: 5px;
}
.icon-add{
	background: url(../img/icon/team-member/list/tjcy_tb.png) no-repeat;
}
.icon-list{
	background: url(../img/icon/saojie/det/liebiao.png) no-repeat;
	top: 5px;
}
.icon-map{
	background: url(../img/icon/saojie/det/zuobiao.png)no-repeat;
	top: 5px;
}
.icon-time{
	background: url(../img/icon/team-member/det/d.png) no-repeat;
	top: 5px;
}
.icon-saojie-set{
	background: url(../img/icon/saojie/set/sjsz.png) no-repeat;
	top: 5px;
}
/*进度条*/
.progress{
	overflow:visible ;
	background: #D5D5D5;
}
.progress-bar{
	position: relative;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.progress.progress-sm{
	height: 10px;
	border-radius: 10px;
	position: relative;
}

/*btn*/
.btn-visit,
.btn-visit:hover,
.btn-visit:focus{
	background: #3993C7;
	color: #FFF;
}
.btn-blue,
.btn-blue:hover,
.btn-blue:focus{
	background: #3993C7;
	color: #FFF;
}


.align-right{
	text-align: right;
}
/*虚线*/
.hr{
	margin: 15px -20px;
	border-top: 1px dashed #D4D4D4;
	clear: both;
}
/*实线*/
.hr-solid{
	clear: both;
	margin: 15px -20px;
	border-top: 2px solid #DBDBDB;
}
.marg-b-10{
	margin-bottom: 10px;
}
.marg-b-20{
	margin-bottom: 20px;
}
/*不同状态文字颜色*/
.text-danger{
	color: #DE433E;
}
.text-primary{
	color: #3894C7;
}

/*新图标实现方式*/
.ico{
	padding: 2px 18px 2px 2px;
	margin-right: 5px;
	position: relative;
	top:-1px;
}
/* 区域切换 */
.area-choose{
	display: inline-block;
	margin-left: 30px;
	margin-right: 20px;
	font-size: 14px;
}
.area-choose>span{
	font-weight: 400;
}
.are-line{
	font-size: 12px;
	font-weight: 400;
}
.icon-saojie-list{
	background-image: url(../img/icon/saojie/saojieshehzi.png);
	top: 5px; 
}
.icon-saojie-add{
	background-image: url(../img/saojie/saojie-add.png); 
}
/*添加成员按钮*/
.member-add-btn{
	margin-left: 20px;
}
.saojie-add-box .box-body{
	padding-top: 20px;
}
.quyujiegou .box-title{
	padding-top: 10px;
	
}















