/*
 * 团队成员添加
 * @author ChenGuop
 * @date 15/12/28
 * 
 */
.team-member-add-icon{
  top: 5px;
  background: url(../img/icon/team-member/add/tjcy.png) no-repeat;
}
.member-add-icon{
  top: 4px;
  background: url(../img/icon/team-member/add/tj.png) no-repeat;
}
/*添加成员表单定位*/
.member-from{
  /*width: 90%;*/
  padding-left:  0;
  padding-right:  0;
  padding-right:  0;
}

.form-control{
  outline: none;
}

@media (max-width: 1200px){
  .hidden-inline-mobile {
      display: none !important;
  }
}

/*表单图标*/
.member-icon {
  position: relative;
  display: inline-block;
  top: 1px;
  width: 20px;
  height: 20px;
}

/*表单图标*/
.member-icon {
  position: relative;
  display: inline-block;
  top: 1px;
  width: 20px;
  height: 20px;
}
.member-name-icon{
  background: url(../img/icon/team-member/add/xm.png) no-repeat;
}
/*输入框组 span 图标定位  span.input-group-addon*/
.member-from-box span.input-group-addon{
  padding: 0 5px;
}
/*输入框组 input 定位  input.input-group*/
.member-from-box .input-group{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.member-from-box .form-group{
  margin-bottom: 38px;
}

.member-job-icon{
  background: url(../img/icon/team-member/add/zw.png) no-repeat;
}
.member-role-icon{
  background: url(../img/icon/team-member/add/jsqx.png) no-repeat;
}
.job-number-icon{
  background: url(../img/icon/team-member/add/gh.png) no-repeat;
}
.member-phone-icon{
  background: url(../img/icon/team-member/add/dh.png) no-repeat;
}
.member-id-icon{
  background: url(../img/icon/team-member/add/idbh.png) no-repeat;
}
.member-map-icon{
  background: url(../img/icon/team-member/add/fzqu.png) no-repeat;
}
/*负责区域*/
.territory{
  padding: 15px;
  margin-bottom: 0;
}
.territory >label>input {
  display: none;
}
.district{
  float: left;
  cursor: pointer;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 300;
  border: 2px solid #CCC;
}
.district:hover{
  border: 2px solid #3F95D2;
}
.district.active{
  border: 2px solid #3F95D2;
  background: url(../img/icon/team-member/add/qdxz.png) no-repeat bottom right;
}
@media (max-width:500px ) {
  .member-from-box .col-xs-4{
    width: 100%;
    margin-bottom: 10px;
  }
}
.member-from-box button{
  font-size: 16px;
  font-weight: bold;
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
}

/**
 * 团队成员列表
 * @author ChenGuop
 * @date 15/12/29
 */
.team-member-list-icon{
  top: 3px;
  background: url(../img/icon/team-member/list/tdcy.png) no-repeat;
}
.province-icon{
  margin-top: -5px;
  margin-left: -5px;
  margin-bottom: -5px;
  background: url(../img/icon/team-member/list/qyxz_tb.png) no-repeat;
}
/*区域选中按钮*/
.team-member-header .btn-group{
  margin-left: 15px;
}

/*small 文本内容*/
.header-text{
  position: relative;
  top: 8px;
  height: 20px;
  line-height: 20px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 100;
}
.header-text span{
  margin: 0 5px;
}
.text-red{
  color: #D9534F;
  font-size: 16px;
  font-weight: bold;
}
.text-bule{
  color: #3894C7;
  font-size: 16px;
  font-weight: bold;
}
/*nav_tab*/
.box .nav-tabs {
    border-bottom: 0px none;
    margin-right: 0px;
    overflow: hidden;
    position: relative;
    /*top: -61px;*/
}
@media (max-width:768px ) {
  .box .nav-tabs {
    margin-bottom: 10px;
  }
}
.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: outside none none;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
.box .nav-tabs > li {
    float: left;
    margin-left: 1px;
}
.box .nav-tabs > li > a {
    position: relative;
    background: #EEE none repeat scroll 0% 0%;
    padding: 8px 15px;
    float: right;
    text-decoration: none;
    color: #595959;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
    border-radius: 5px 0px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    /*margin-right: 15px;*/
    margin-left: 15px;/*左侧边距 ，因为左浮动 */
    border-top: 1px solid #D0D0D0;
}
/*a左侧棱块*/
.box .nav-tabs > li > a::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -10px;
    bottom: 0px;
    width: 1em;
    background: #EEE none repeat scroll 0% 0%;
    border-left: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    transform: skew(170deg);
    border-radius: 5px 0px 0px;
}
/*a右侧棱块*/
.box .nav-tabs > li > a::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -1px;
    right: -0.5em;
    bottom: 0px;
    width: 1em;
    background: #EEE none repeat scroll 0% 0%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-top: 1px solid #D0D0D0;
    transform: skew(10deg);
    border-radius: 0px 5px 0px 0px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0px 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/*选中样式 active*/
.box .nav-tabs > li.active a, 
.box .nav-tabs > li.active a::after, 
.box .nav-tabs > li.active a::before {
    background: #FFF none repeat scroll 0% 0%;
    z-index: 3;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #3894C7;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
}
.team-member-body .box-title{
  padding-bottom: 0;
  padding-top: 10px;
}
/*title-form*/
.title-form{
  float: right;
  width: 100%;
  margin-bottom: 0;
}
.title-form1{
  float: right;
  width: 20%;
  margin: 20px;
  margin-bottom: 0;
}
@media (max-width:768px ) {
  .title-form{
    margin-bottom: 10px;
  }
}
.title-form .form-control,
.title-form1 .form-control{
  height: 26px;
  font-size: 12px;
  font-weight: 100;
  padding: 2px 5px; 
  color: #aeaeae;
}
.icon-finds{
  background: url(../img/icon/team-member/list/sousuo1.png) no-repeat;
}
.title-form1 .input-group-addon,
.title-form .input-group-addon{
  cursor: pointer;
  padding: 2px 0px 0px 4px;
}
.team-member-body .box-body{
  padding: 20px 10px;
  background: #F4F4F4;
}
.team-member-body .tab-content{
  background: #FFF;
}
/*区域*/
.member-district .box-body{
  padding: 10px;
}
/*组织结构*/
.structure{
  padding: 5px 10px 8px;
  border-radius: 5px;
  background: #5D87AF;
  color: #FFF;
  font-weight: bold;
  margin: 10px 0;
}
/*-----tree view*/
.tree {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 9px;
    position: relative;
}
.tree:before,.tree-folder:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tree:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #67B2DD;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px;
    bottom: 16px;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    top: -20px;
    z-index: 1;
}
.tree .tree-item, .tree .tree-folder {
    border: 1px solid #FFFFFF;
}
.tree .tree-folder, .tree .tree-item {
    position: relative;
}
.tree .tree-folder {
    cursor: pointer;
    min-height: 20px;
    width: auto;
}
.tree .tree-folder:before, .tree .tree-item:before {
    border-top: 1px dotted #67B2DD;
    content: "";
    display: inline-block;
    height: 0;
    left: -13px;
    position: absolute;
    top: 14px;
    width: 18px;
    z-index: 1;
}
.tree .tree-folder .tree-folder-content:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #67B2DD;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px;
    bottom: 16px;
    content: "";
    display: inline-block;
    left: -14px;
    position: absolute;
    top: -14px;
    z-index: 1;
}
.tree .tree-item, .tree .tree-folder .tree-folder-header {
    -moz-box-sizing: content-box;
    margin: 0;
    padding: 5px;
}
.tree .tree-folder .tree-folder-header {
    border-radius: 0 0 0 0;
}
.tree .tree-folder .tree-folder-header {
    height: 100%;
    line-height: 20px;
    position: relative;
}
.tree .tree-folder .tree-folder-header > [class*="fa-"]:first-child {
    margin: -2px 0 0 -2px;
}
.tree .tree-folder .tree-folder-header > [class*="fa-"]:first-child, .tree .tree-item > [class*="fa-"]:first-child {
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: 2;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tree .tree-folder .tree-folder-header .tree-folder-name {
    margin-left: 2px;
}
.tree .tree-folder .tree-folder-header .tree-folder-name, .tree .tree-item .tree-item-name {
    display: inline;
    z-index: 2;
}
.tree .tree-folder .tree-folder-content {
    margin-left: 23px;
    position: relative;
}
.tree .tree-selected {
    background-color: rgba(98, 168, 209, 0.1);
    color: #6398B0;
}
.tree .tree-folder, .tree .tree-item {
    position: relative;
}
.tree .tree-item {
    cursor: pointer;
    height: 100%;
    line-height: 20px;
    position: relative;
}
.tree .tree-item > [class*="fa-"]:first-child {
    -moz-box-sizing: content-box;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #e6e6e6;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    width: 13px;
}
.tree .tree-item > [class*="fa-"]:first-child {
    margin-top: -1px;
}
.tree .tree-folder .tree-folder-header > [class*="fa-"]:first-child, .tree .tree-item > [class*="fa-"]:first-child {
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: 2;
}
.tree .tree-item .tree-item-name {
    margin-left: 3px;
}
.tree .tree-folder .tree-folder-header .tree-folder-name, .tree .tree-item .tree-item-name {
    display: inline;
    z-index: 2;
}
.tree .tree-loading {
    margin-left: 36px;
}
.tree .fa-spin {
    height: auto;
}
/*-----tree view*/


/* --------start team list---------  */
.area-num-up{
  color: #FF4847;
  font-size: 12px;
}
.area-num-down{
  color: #70afc4;
  font-size: 12px;
}

/* ------------扫街 ----------*/
.saojie-bar-on{
  background: #a8bc7b;    
}
.saojie-status-on{
  background: url(../img/icon/team-member/list/sjz.png) 0 0 no-repeat;
}
.saojie-status-over{
  background: url(../img/icon/team-member/list/sjwc.png) 0 0 no-repeat;
}
/* -------考核=--------- */
/* 第一阶段 */
.kaohe-bar-one{
  background: #D35383;
}
.kaohe-status-one-on{
  background: url(../img/icon/team-member/list/yjdkh.png) no-repeat 0 0 #D35383;
}
.kaohe-status-one-over{
  background: url(../img/icon/team-member/list/yjdwc.png) no-repeat 0 0 #D35383;
}
/* 第二阶段 */
.kaohe-bar-tow{
  background: #EFAD4D;
}
.kaohe-status-tow-on{
  background: url(../img/icon/team-member/list/ejdkh.png) no-repeat 0 0 #EFAD4D;
}
.kaohe-status-tow-over{
  background: url(../img/icon/team-member/list/ejdwc.png) no-repeat 0 0 #EFAD4D;
}
/* 第三阶段 */
.kaohe-bar-three{
  background: #A596CD;
}
.kaohe-status-three-on{
  background: url(../img/icon/team-member/list/sjdkh.png) no-repeat 0 0 #A596CD;
}
.kaohe-status-three-over{
  background: url(../img/icon/team-member/list/sjdwc.png) no-repeat 0 0 #A596CD;
}
/* --------开发中------- */
.kaifa-bar{
  background: #D95350;
}
.kaifa-status-on{
  background: url(../img/icon/team-member/list/kfz.png) no-repeat 0 0 #D95350;
}
.kaifa-status-over{
  background: url(../img/icon/team-member/list/kfwc.png) no-repeat 0 0 #D95350;
}
/* -------已转正------ */
.zhuanzheng-over-bar{
  background: #71AFC4;
}
.zhuanzheng-status-over{
  background: url(../img/icon/team-member/list/yzz.png) no-repeat 0 0 #71AFC4;
}

.icon-edit{
  padding: 3px 18px 17px 2px;
  background: url(../img/icon/team-member/list/bianji.png) 0 0 no-repeat;
}
.shop-num-d {
    color: #70afc4;
    padding: .5em;
}
.project-list .project-completion{
  padding-top: 30px;  
}
/* 状态 */
.status-ing{
  position: relative;
  top:0;
  float: right;
  width: 76px;
  padding-left: 25px;
  padding-right: 10px;
  line-height: 20px;
  color: #FFF;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* 编辑按钮 */
.saojie-edit{
  padding: 0;
  margin: 0;
  min-width: 100px;
}
.saojie-edit .divider{
  margin: 0;
}
.saojie-edit >li >a:last-child{
  border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.saojie-edit >li >a:FIRST-CHILD{
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.saojie-edit>li>a{
  color: #4d4d4d;
}
/* 分页 */
.box-page-ul>li>a,.box-page-ul.>li>span{
/*  color: #D9544F; */
}
.box-page-ul >.active>a,
.box-page-ul >.active>a:focus, 
.box-page-ul >.active>a:hover, 
.box-page-ul >.active>span, 
.box-page-ul >.active>span:focus,
.box-page-ul >.active>span:hover{
  background: #3894C7;
  border-color: #3894C7; 
}

/* ------------end team list----------  */
.project-list{
  padding-bottom: 30px;
}


/* --------start team_member_det-------- */
.text-bule{
  color: #3894C7;
  font-size: 16px;
  font-weight: bold;
}
/**/
.member-det-body .box-body{
  padding: 0;
  min-height: 750px;
}
.det-head{
  padding: 24px 30px;
  border-bottom: 1px solid #D4D4D4;
}
.head-button{
  float: right;
}
@media (max-width:1200px ) {
  .head-button{
    float: none;
    margin: 10px 0 0;
  } 
}
.link-export{
  margin-left: 30px;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
}
a.link-export:hover,
a.link-export:focus{
  color: #3B92C7;
  border-bottom: 1px solid #3B92C7;
}
.my_btn_group .btn{
  background-color: #EEE; 
}

.head-button .btn.active,
.head-button .btn:hover,
.head-button .btn:focus{
  background: #3B92C7;
  color: #fff;
  border-color: #3B92C7;
}
/*月份下拉样式*/
.date-month{
  display: inline;
  position: relative;
  margin-left: 20px;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 3px;
  
}
.date-month .form-control{
  display: inline-block;
  width: 200px;
  cursor: pointer;
}



.icon-month{
  padding: 3px 18px 17px 2px;
  background: url(../img/icon/team-member/det/date.png) no-repeat;
}
.icon-down{
  padding: 3px 18px 17px 2px;
  background: url(../img/icon/team-member/det/down.png) no-repeat;
}
.date-month .form_datetime{
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 2px 25px;
  font-size: 14px;
  height: 30px;
}
.date-month span{
  position: absolute;
  top: -3px;
  padding: 5px 5px 2px;
  vertical-align: middle;
}
.date-month span:first-child{
  border-right-style: none;
  
}
.date-month span:last-child{
  right: 0;
  float: right;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/*店铺列表*/
.company-table>.table>tbody> tr>td{
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #636363;
}
/*店铺名称*/
.table .shop-name{
  font-weight: bold;
  color: #626262;
  padding-left: 15px;
}
/*商家状态*/
.shop-status{
  display: inline-block;
  padding: 2px;
  width: 80px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  margin-left: 20px;
}
.status-danger{
  background: url(../img/icon/team-member/det/cjbng.png) no-repeat ;
}
.status-ok{
  background: url(../img/icon/team-member/det/hybng.png) no-repeat ;
}
.status-no{
  background: url(../img/icon/team-member/det/wthbng.png) no-repeat ;
}
/*沉寂天数-进度条*/
.quiet-days{
  margin: 8px 0;
  text-align: left;
}
.quiet-days span{
  font-size: 12px;
}

/*平均天数-bar*/
.bar-static{
  background: #a8bc7b;    
}
/*活跃天数-bar*/
.bar-ok{
  background: #41AD71;    
}
/*沉寂天数-bar*/
.bar-later{
  background: #545454;
}
/*未提货*/
  .tag{
  position: absolute;
  z-index: 100;
  top: -2px;
  right: -6px;
  width: 15px;
  height: 15px;
  background: #FFF;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
}
.icon-tag{
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 18px;
  top: -25px;
  right: -10px;
  color: #FFF;
  font-size: 10px;
}
.tag .icon-tag{
  right: -4px;
  top: -25px;
}
.tag-static{
  background: url(../img/icon/team-member/det/bng1.png) no-repeat;
}
.tag-later{
  background: url(../img/icon/team-member/det/bng2.png) no-repeat;
}
.tag-ok{
  background: url(../img/icon/team-member/det/bng3.png) no-repeat;
}
.tag-no{
  background: url(../img/icon/team-member/det/bng4.png) no-repeat;
}
/*关联商家*/
.shop-link{
  margin-top: 5px;
  margin-right:10px ;
  margin-bottom: 5px;
  display: inline-block;
}
.shop-link a{
  color: #FFF;
}
.icon-link{
  background: url(../img/icon/team-member/det/gl.png) no-repeat;
  top: 5px;
}
.link-span{
  display: inline-block;
  border-radius: 20px;
  background: #4C9FCB;
  font-size: 12px;
  height: 18px;
  padding: 2px 8px;
}
.num-progress{
  min-width: 240px;
}
/* 重新定义btn-default */
.btn-default,
.btn-default:hover,
.btn-default:focus{
  background: #DDD;
  color: #606060;
}




/* --------end team_member_det-------- */




































