h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100
}
h1 {
	font-size: 30px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 16px
}
h4 {
	font-size: 14px
}
h5 {
	font-size: 12px
}
h6 {
	font-size: 10px
}
h3,
h4,
h5 {
	margin-top: 5px;
	font-weight: 600
}
a:focus {
	outline: 0
}

.navbar-form-custom .form-control {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	font-size: 14px;
	height: 60px;
	margin: 0;
	z-index: 2000
}

/*btn妯″潡*/
.btn-primary.btn-outline {
	color: #1ab394
}
.btn-success.btn-outline {
	color: #1c84c6
}
.btn-info.btn-outline {
	color: #23c6c8
}
.btn-warning.btn-outline {
	color: #f8ac59
}
.btn-danger.btn-outline {
	color: #ed5565
}
.btn-danger.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-warning.btn-outline:hover {
	color: #fff
}
.btn-primary {
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFF
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
	background-color: #1E0FBE;
	border-color: #1E0FBE;
	color: #FFF
}
.btn-primary.active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.active[disabled],
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #1dc5a3;
	border-color: #1dc5a3
}
.btn-success {
	background-color: #1c84c6;
	border-color: #1c84c6;
	color: #FFF
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
	background-color: #1a7bb9;
	border-color: #1a7bb9;
	color: #FFF
}
.btn-success.active,
.btn-success:active,
.open .dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.active[disabled],
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
	background-color: #1f90d8;
	border-color: #1f90d8
}
.btn-info {
	background-color: #23c6c8;
	border-color: #23c6c8;
	color: #FFF
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
	background-color: #21b9bb;
	border-color: #21b9bb;
	color: #FFF
}
.btn-info.active,
.btn-info:active,
.open .dropdown-toggle.btn-info {
	background-image: none
}
.btn-info.active[disabled],
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
	background-color: #26d7d9;
	border-color: #26d7d9
}
.btn-default {
	background-color: #c2c2c2;
	border-color: #c2c2c2;
	color: #FFF
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
	background-color: #bababa;
	border-color: #bababa;
	color: #FFF
}
.btn-default.active,
.btn-default:active,
.open .dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.active[disabled],
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
	background-color: #ccc;
	border-color: #ccc
}
.btn-warning {
	background-color: #f8ac59;
	border-color: #f8ac59;
	color: #FFF
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
	background-color: #f7a54a;
	border-color: #f7a54a;
	color: #FFF
}
.btn-warning.active,
.btn-warning:active,
.open .dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.active[disabled],
.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
	background-color: #f9b66d;
	border-color: #f9b66d
}

.btn-white {
	color: inherit;
	background: #fff;
	border: 1px solid #e7eaec
}
.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open .dropdown-toggle.btn-white {
	color: inherit;
	border: 1px solid #d2d2d2
}
.btn-white.active,
.btn-white:active {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .15)inset
}
.btn-white.active,
.btn-white:active,
.open .dropdown-toggle.btn-white {
	background-image: none
}
.btn-white.active[disabled],
.btn-white.disabled,
.btn-white.disabled.active,
.btn-white.disabled:active,
.btn-white.disabled:focus,
.btn-white.disabled:hover,
.btn-white[disabled],
.btn-white[disabled]:active,
.btn-white[disabled]:focus,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white.active,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:hover {
	color: #cacaca
}
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
	box-shadow: none
}
.btn-outline {
	color: inherit;
	background-color: transparent;
	-webkit-transition: all .5s;
	transition: all .5s
}



.badge-primary,
.label-primary {
	background-color: #1ab394;
	color: #FFF
}
.badge-success,
.label-success {
	background-color: #1c84c6;
	color: #FFF
}
.badge-warning,
.label-warning {
	background-color: #f8ac59;
	color: #FFF
}
.badge-warning-light,
.label-warning-light {
	background-color: #f8ac59;
	color: #fff
}
.badge-danger,
.label-danger {
	background-color: #ed5565;
	color: #FFF
}
.badge-info,
.label-info {
	background-color: #23c6c8;
	color: #FFF
}
.badge-inverse,
.label-inverse {
	background-color: #262626;
	color: #FFF
}
.badge-white,
.label-white {
	background-color: #FFF;
	color: #5E5E5E
}
.badge-disable,
.label-white {
	background-color: #2A2E36;
	color: #8B91A0
}



.img-circle {
	border-radius: 50%
}
.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33
}


/*input*/
.spinner-buttons.input-group-btn .btn-xs {
	line-height: 1.13
}
.spinner-buttons.input-group-btn {
	width: 20%
}

.ibox-title {
	cursor: move
}


body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #757575;
	overflow-x: hidden
}




/*ibox鐩稿叧*/
.ibox {
	clear: both;
	margin-top: 0;
	padding: 0
}
.ibox.collapsed .ibox-content {
	display: none
}
.ibox.collapsed .fa.fa-chevron-up:before {
	content: "\f078"
}
.ibox.collapsed .fa.fa-chevron-down:before {
	content: "\f077"
}
.ibox:after,
.ibox:before {
	display: table
}
.ibox-title {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 4px 0 0;
	color: inherit;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	min-height: 48px
}
.ibox-content {
	background-color: #fff;
	color: inherit;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0
}


.ibox-content {
	clear: both
}
.ibox-heading {
	background-color: #f3f6fb;
	border-bottom: none
}
.ibox-heading h3 {
	font-weight: 200;
	font-size: 24px
}
.ibox-title h5 {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left
}
.ibox-title .label {
	float: left;
	margin-left: 4px
}
.ibox-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0
}
.ibox-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4
}
.ibox-tools a.btn-primary {
	color: #fff
}

.ibox .open>.dropdown-menu {
	left: auto;
	right: 0
}
.gray-bg {
	background-color: #f3f3f4
}
.white-bg {
	background-color: #fff
}
.navy-bg {
	background-color: #1ab394;
	color: #fff
}
.blue-bg {
	background-color: #1c84c6;
	color: #fff
}
.lazur-bg {
	background-color: #23c6c8;
	color: #fff
}
.yellow-bg {
	background-color: #f8ac59;
	color: #fff
}
.red-bg {
	background-color: #ed5565;
	color: #fff
}
.black-bg {
	background-color: #262626
}

.progress-bar {
	background-color:#D9534F;
}
.progress-finish {
	background-color:#a8bc7b;
}
.progress-small .progress-bar {
	height: 10px
}
.progress-small .progress-finish {
	height: 10px;
}
.progress-mini,
.progress-small {
	margin-top: 10px;
}
.progress-mini {
	height: 10px;
	background-color: #E8E8E8;
}
.progress-mini .progress-bar {
	height: 10px;
	/*width: 300px;*/
	margin-bottom: 0;
}
.progress-mini .progress-finish {
	height: 10px;
	/*width: 300px;*/
	margin-bottom: 0;
}

.folder {
	background: url(../img/team-member/chakan.png) no-repeat;
	padding: 3px 18px 3px 2px;
	text-align: left;
}

.progress-bar-navy-light {
	background-color: #3dc7ab
}
.progress-bar-success {
	background-color: #1c84c6
}
.progress-bar-info {
	background-color: #23c6c8
}
.progress-bar-warning {
	background-color: #f8ac59
}
.progress-bar-danger {
	background-color: #ed5565
}


.p-xxs {
	padding: 5px
}
.p-xs {
	padding: 10px
}
.p-sm {
	padding: 15px
}
.p-m {
	padding: 20px
}
.p-md {
	padding: 25px
}
.p-lg {
	padding: 30px
}
.p-xl {
	padding: 40px
}
.m-xxs {
	margin: 2px 4px
}
.m-xs {
	margin: 5px
}
.m-sm {
	margin: 10px
}
.m {
	margin: 15px
}
.m-md {
	margin: 20px
}
.m-lg {
	margin: 30px
}
.m-xl {
	margin: 50px
}
.m-n {
	margin: 0!important
}
.m-l-none {
	margin-left: 0
}
.m-l-xs {
	margin-left: 5px
}
.m-l-sm {
	margin-left: 10px
}
.m-l {
	margin-left: 15px
}
.m-l-md {
	margin-left: 20px
}
.m-l-lg {
	margin-left: 30px
}
.m-l-xl {
	margin-left: 40px
}
.m-l-n-xxs {
	margin-left: -1px
}
.m-l-n-xs {
	margin-left: -5px
}
.m-l-n-sm {
	margin-left: -10px
}
.m-l-n {
	margin-left: -15px
}
.m-l-n-md {
	margin-left: -20px
}
.m-l-n-lg {
	margin-left: -30px
}
.m-l-n-xl {
	margin-left: -40px
}
.m-t-none {
	margin-top: 0
}
.m-t-xxs {
	margin-top: 1px
}
.m-t-xs {
	margin-top: 5px
}
.m-t-sm {
	margin-top: 10px
}
.m-t {
	margin-top: 15px
}
.m-t-md {
	margin-top: 20px
}
.m-t-lg {
	margin-top: 30px
}
.m-t-xl {
	margin-top: 40px
}
.m-t-n-xxs {
	margin-top: -1px
}
.m-t-n-xs {
	margin-top: -5px
}
.m-t-n-sm {
	margin-top: -10px
}
.m-t-n {
	margin-top: -15px
}
.m-t-n-md {
	margin-top: -20px
}
.m-t-n-lg {
	margin-top: -30px
}
.m-t-n-xl {
	margin-top: -40px
}
.m-r-none {
	margin-right: 0
}
.m-r-xxs {
	margin-right: 1px
}
.m-r-xs {
	margin-right: 5px
}
.m-r-sm {
	margin-right: 10px
}
.m-r {
	margin-right: 15px
}
.m-r-md {
	margin-right: 20px
}
.m-r-lg {
	margin-right: 30px
}
.m-r-xl {
	margin-right: 40px
}
.m-r-n-xxs {
	margin-right: -1px
}
.m-r-n-xs {
	margin-right: -5px
}
.m-r-n-sm {
	margin-right: -10px
}
.m-r-n {
	margin-right: -15px
}
.m-r-n-md {
	margin-right: -20px
}
.m-r-n-lg {
	margin-right: -30px
}
.m-r-n-xl {
	margin-right: -40px
}
.m-b-none {
	margin-bottom: 0
}
.m-b-xxs {
	margin-bottom: 1px
}
.m-b-xs {
	margin-bottom: 5px
}
.m-b-sm {
	margin-bottom: 10px
}
.m-b {
	margin-bottom: 15px
}
.m-b-md {
	margin-bottom: 20px
}
.m-b-lg {
	margin-bottom: 30px
}
.m-b-xl {
	margin-bottom: 40px
}
.m-b-n-xxs {
	margin-bottom: -1px
}
.m-b-n-xs {
	margin-bottom: -5px
}
.m-b-n-sm {
	margin-bottom: -10px
}
.m-b-n {
	margin-bottom: -15px
}
.m-b-n-md {
	margin-bottom: -20px
}
.m-b-n-lg {
	margin-bottom: -30px
}
.m-b-n-xl {
	margin-bottom: -40px
}
.space-15 {
	margin: 15px 0
}
.space-20 {
	margin: 20px 0
}
.space-25 {
	margin: 25px 0
}
.space-30 {
	margin: 30px 0
}
.l-h {
	line-height: 35px;
}
.shop-num{
	color: #ff4847;
	padding: .5em;
}

.project-actions,
.project-people {
	text-align: center;
	vertical-align: middle
}
dd.project-people {
	text-align: left;
	margin-top: 5px
}
.project-people img {
	width: 60px;
	height: 60px
}
.project-title a {
	font-size: 12px;
	color: #676a6c;
	line-height: 35px;
}

.project-status .status-ing{
	padding: .3em 2em;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background: url(../img/team-member/sjz.png) no-repeat;
}
.project-status .status-finish{
	padding: .3em 2em;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background:url(../img/team-member/sjwc.png) no-repeat;
}
.project-completion {
	min-width: 300px;
}
@media (min-width:1000px ) {
	.project-completion {
		width: 40%;
	}
}
.project-completion .completion-ing{
	padding: .3em 2em;
	background:url(../img/team-member/ywzb.png) no-repeat;
}
.time-down {
	padding: 2px 0.2px 2px 24px;
	float: right;
	background:url(../img/team-member/djs.png) no-repeat;
}
.time-finish {
	padding: 0px 5px 6px 14px;
	float: right;
	background:url(../img/team-member/tg.png) no-repeat;
	color: #FFFFFF;
}
.project-list table tr td {
	border-top: none;
	border-bottom: 1px solid #e7eaec;
	padding: 15px 10px;
	vertical-align: middle
}
.project-manager .tag-list li a {
	font-size: 10px;
	background-color: #fff;
	padding: 5px 12px;
	color: inherit;
	border-radius: 2px;
	border: 1px solid #e7eaec;
	margin-right: 5px;
	margin-top: 5px;
	display: block
}
.project-files li a {
	font-size: 11px;
	color: #676a6c;
	margin-left: 10px;
	line-height: 22px
}



/*h5*/
body.rtls .ibox-title h5 {
	float: right
}


body.rtls .ibox-tools,
body.rtls .stat-percent {
	float: left
}

/*娣诲姞鎵寮�濮�*/

.saojie-top-icon{
	padding: 2px 10px;
	margin-left: 20px;
	background:url(../img/team-member/tianjia1.png) no-repeat;
}
.saojie-add-icon{
	top: 4px;
	background:url(../img/team-member/tianxie.png) no-repeat;
	padding: 3px 20px;
}

/*娣诲姞鎴愬憳琛ㄥ崟瀹氫綅*/
.member-from{
	/*width: 90%;*/
	padding-left:  0;
	padding-right:  0;
}

.form-control{
	outline: auto;
}
.clear {
	clear: both;
}

/*琛ㄥ崟鍥炬爣*/
.member-icon {
	position: relative;
	display: inline-block;
	top: 1px;
	width: 20px;
	height: 20px;
}
.member-name-icon{
	background:url(../img/team-member/xingming.png) no-repeat;
}
/*杈撳叆妗嗙粍 span 鍥炬爣瀹氫綅  span.input-group-addon*/
.member-from-box span.input-group-addon{
	padding: 0 5px;
}
/*杈撳叆妗嗙粍 input 瀹氫綅  input.input-group*/
.member-from-box .input-group{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.member-from-box .form-group{
	margin-bottom: 38px;
}

.member-job-icon{
	background: url(../img/icon/team-member/add/zw.png) no-repeat;
}
.member-role-icon{
	background: url(../img/icon/team-member/add/jsqx.png) no-repeat;
}
.job-number-icon{
	background: url(../img/icon/team-member/add/gh.png) no-repeat;
}
.member-phone-icon{
	background: url(../img/icon/team-member/add/dh.png) no-repeat;
}
.member-id-icon{
	background: url(../img/icon/team-member/add/idbh.png) no-repeat;
}
.saojie-map-icon{
	background:url(../img/team-member/quyu.png) no-repeat;
}
/*璐熻矗鍖哄煙*/
.territory{
	padding: 15px;
	margin-bottom: 0;
}
.territory >label>input {
	display: none;
}
.district{
	float: left;
	cursor: pointer;
	padding: 2px 10px;
	font-size: 12px;
	font-weight: 300;
	border: 2px solid #CCC;
}
.district:hover{
	border: 2px solid #3F95D2;
}
.district.active{
	border: 2px solid #3F95D2;
	background: url(../img/icon/team-member/add/qdxz.png) no-repeat bottom right;
}
@media (max-width:500px ) {
	.member-from-box .col-xs-4{
		width: 100%;
		margin-bottom: 10px;
	}
}
.member-from-box button{
	font-size: 16px;
	font-weight: bold;
	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
}

/*娣诲姞鎵缁撴潫*/
/* 表格响应解决ie兼容y轴滚动条 */
.table-responsive{
	overflow-y: hidden; 
}










