html{
    background-color: #fafafa;
}
.icon-puish-back{
    background: url('../img/check-pending/logo.png') no-repeat center;
}
.check-btn{
    margin-left:11px;
    margin-right:44px;
}
.salesman-input{
    padding-left:5px;
    color: #919191;
    font-size: 12px;
}
table tr.status-exception td{
    color:#f02c2c;
}
.single-exception,table tr td.single-exception{
    color:#f02c2c;
    font-weight:bold;
}
.border-right-grey{
    border-right:1px solid #eee;
}
.border-bottom-grey{
    border-bottom:1px solid #eee;
}
.multi-row{
    padding:0 !important;
}
.multi-row p{
    height:49px;
    line-height:33px;
    margin:0;
    padding:8px 20px;
}
.btn-findup{
    display: none;
    background-color: #bbcd91;
    color:#fff;
    margin-left:10px;
    padding:0 3px;
}
.btn-findup:hover{
    color:#fff;
}
tr:hover .btn-findup{
    display: inline-block;
}
.width-fixed{
    min-width:220px;
}
.wait-setting{
    margin-left:5px;
    margin-right:40px;
    padding:3px;
    background-color:#fbfbfb;
    border:1px solid #eee;
    color:#8c8c8c;
    font-size:12px;
}
.dialog-calender .search-date{
    width:100%;
    top:0;
    vertical-align: middle;
}
.gd-btn-sure{
    margin-top:25px;
    background-color: #3893c7;
    color:#fff;
}
.gd-btn-sure:hover,
.wait-btn-delete:hover{
    color:#fff;
}
.wait-btn-delete{
    background-color:#f2a838;
    color:#fff;
}
.wait-page-index{
    width:500px;
    margin:0 auto;
    text-align: center;
}
.wait-feedback{
    text-align: center;
}
.icon-wait-setting{
    display: inline-block;
    margin-right:3px;
    padding:7px;
    background:url(../img/check-pending/setting.png) no-repeat;
    vertical-align: middle;
}