.icon-puish-record{
    background: url("../img/cut-set/jcsz1.png") no-repeat center;
}
.icon-task-je{
    background:url("../img/cut-set/lk.png") no-repeat center;
}
.icon-qy{
    background: url("../img/cut-set/qy.png")no-repeat center;
}

.icon-puish-m{
    background: url("../img/cut-set/ykf.png")no-repeat center;
}
.icon-puish-back{
    background: url("../img/cut-set/bank.png")no-repeat center;
}

.icon-rq{
    background: url("../img/cash-bank/rq.png")no-repeat center;
}

.icon-wj{
    background: url("../img/cash-bank/wj.png")no-repeat center;
}

.icon-water{
    background: url("../img/water-order/ls.png")no-repeat center;
}

.icon-yw{
    background: url("../img/basin_yw/bt.png") no-repeat center;
}

html{
    background-color: #fafafa;
}
.text-hd{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #555555;
}

.text-tx{
    margin:28px ;
}

.row-d{
    height: 25px;
}

.text-gery{
    color:#969696 ;
    font-weight: 800;
    font-size: 12px;
}

.text-blue-s{
    color:#3893c7 ;
    font-size: 12px;

}

.jl-{
    margin-left: 35px;
}

.text-gery-hs{
    color: #919191;
    font-size: 12px;
}

.text-bg{
    color: #555555;
    font-size: 12px;
}

.row-jl{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.zdy-h{
    margin-bottom: 30px;
}

.text-black{
    font-size: 10px;
    font-weight: 500;
    color: #555555;
}

.text-dk{
    font-size: 12px;
    font-weight: 900;
    color: #555555;
    margin-bottom:30px;
}

.jll{
    margin-left: 10px;
}

.ratio-box{
    display: inline-block;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    border:1px solid #ddd;

}

.ratio-box-dd{
    display: inline-block;
    position: relative;
}
.cl-padd{
    padding-left: 0;
    padding-right: 0;
}
.text-redd{
    color: #ff3f3f;
    font-size: 12px;

}

.input-h{
    height: 36px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control.input-hh{
    background-color: #ffffff;
}
.input-hh{
    height: 36px;
    color: #ffffff;
}

.cl-padd{
    padding-left: 0;
    padding-right: 0;
}

.ratio-box{
    display: inline-block;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    border:1px solid #ddd;

}
.ratio-box-dd{
    display: inline-block;
    position: relative;
}


.label-blue{
    display: inline-block;
    background-color: #2385ff;
    width:23px;
    height:23px;
    padding-top: 6px;
    padding-left: 5px;
}


.bs-example > .row{
    margin: 0;
}

.text-time{
    font-size: 12px;
    color: #636363;
}

.chang-time{
    color: #9D9D9D;
}

.cs-select{
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    border:1px silver solid;
    border-radius: 3px;
}

.cs-selected{
    width: 200px;
    height: 30px;
    border:1px silver solid;
    border-radius: 3px;
    background-color: #ffffff;
    color: #eeeeee;
}


.form-tq{
    width: auto;
    height: 30px;
}

.area{
    float: left;
    width: 400px;

}
.exc-h{
    margin-top: 20px;
    margin-bottom: 20px;
}

.exc-hh{
    margin-top: 15px;
    margin-bottom: 10px;
  padding-right: 20px;
}

.bg-color{
    background-color: #ffffff;

}

.area-l{
    margin-left: 20px;
}

.time-c{
    margin-left:25px;
}

.link-posit-t {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}
.text-hei{
    font-size: 12px;
    font-weight: 900;
    color: #636464;
}

.text-reddd{
    font-size: 16px;
    color: #f02c2c;
    font-weight: 700;
}

.line-h{
    height: 30px;
    margin-top: 10px;
}



.bg-style{
    border-left:1px  solid #EEEEEE;;
}

.tb-in{
    padding-left: 0px;
}

.tb-nb{
    margin-bottom: 0px;
    margin-top: 0px;
}

.salesman{
    float: left;
    margin-left: 20px;
}

.export{
    margin-top: 5px;
    margin-right: 25px;
}

.icon-wz{
    float: left;
    margin-left: 30px;
}

.btn-green{
    color: #ffffff;
    background-color:#a3be65;
    border-color: #a3be65;
}
.btn-green:hover,.btn-green:active,.btn-green:focus{
    color: #FFF;
}

.btn-w{
    margin-right: 20px;
}

.table-overflow-e {
    position: relative;
    margin-bottom: 15px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-qx{
    float: left;
    margin-left: 130px;
}

.btn-dd{
    float: left;
    margin-left: 10px;
}

.btn-d{
    width: 95px;
    height: 40px;
}

.icon-xm{
    background: url("../img/basin_yw/xm.png") no-repeat center;
}

.icon-id{
    background: url("../img/basin_yw/id.png") no-repeat center;
}

.icon-yh{
    background: url("../img/basin_yw/yh.png") no-repeat center;
}
.icon-fk{
    background: url("../img/basin_yw/fk.png") no-repeat center;
}

.icon-addd {
    background: url(../img/basin_yw/addd.png) no-repeat center;
}

.tb-basin tr>td>p{
    margin-left: -20px;
    margin-right: -8px;
    margin-bottom: 0px;
    padding:  8px 8px 8px 20px;
    border-top: 1px solid #eeeeee;
    height: 31px;
    line-height: 31px;
    box-sizing: content-box;
}
.tb-basin tr>td>p:first-child{
    border: none;
    margin-top: -8px;
}
.tb-basin tr>td>p:last-child{
    margin-bottom: -8px;
}
tr:hover .btn-card {
    display: block;
}
.btn-card {
    display: none;
    padding: 2px 2px;
    position: absolute;
    right: 10%;
    top: 12px;
}
.name-posit{
    position: relative;
}

tr:hover .btn-card-more {
    display: block;
}

.btn-card-more {
    display: none;
    padding: 2px 2px;
    position: absolute;
    right: 10%;
    top: 40%;
}