.icon-puish-record{
    background: url("../img/cut-set/jcsz1.png") no-repeat center;
}
.icon-task-je{
    background:url("../img/cut-set/lk.png") no-repeat center;
}
.icon-qy{
    background: url("../img/cut-set/qy.png")no-repeat center;
}

.icon-puish-m{
    background: url("../img/cut-set/ykf.png")no-repeat center;
}
.icon-puish-back{
    background: url("../img/cut-set/bank.png")no-repeat center;
}

.icon-rq{
    background: url("../img/cash-bank/rq.png")no-repeat center;
}

.icon-wj{
    background: url("../img/cash-bank/wj.png")no-repeat center;
}

.icon-water{
    background: url("../img/water-order/ls.png")no-repeat center;
}
.icon-wait-setting{
    display: inline-block;
    margin-right:3px;
    padding:7px;
    background:url(../img/check-pending/setting.png) no-repeat;
    vertical-align: middle;
}
.text-hd{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #555555;
}

.text-tx{
    margin:28px ;
}

.row-d{
    height: 25px;
}

.text-gery{
    color:#969696 ;
    font-weight: 800;
    font-size: 12px;
}

.text-blue-s{
    color:#3893c7 ;
    font-size: 12px;

}

.jl-{
    margin-left: 35px;
}

.text-gery-hs{
    color: #919191;
    font-size: 12px;
}

.text-bg{
    color: #555555;
    font-size: 12px;
}

.row-jl{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.zdy-h{
    margin-bottom: 30px;
}

.text-black{
    font-size: 10px;
    font-weight: 500;
    color: #555555;
}

.jll{
    margin-left: 10px;
}

.ratio-box{
    display: inline-block;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    border:1px solid #ddd;

}

.ratio-box-dd{
    display: inline-block;
    position: relative;
}
.cl-padd{
    padding-left: 0;
    padding-right: 0;
}
.text-redd{
    color: #ff3f3f;
    font-size: 12px;

}

.input-h{
    height: 36px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control.input-hh{
    background-color: #ffffff;
}
.input-hh{
    height: 36px;
    color: #ffffff;
}

.cl-padd{
    padding-left: 0;
    padding-right: 0;
}

.ratio-box{
    display: inline-block;
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    border:1px solid #ddd;

}
.ratio-box-dd{
    display: inline-block;
    position: relative;
}


.label-blue{
    display: inline-block;
    background-color: #2385ff;
    width:23px;
    height:23px;
    padding-top: 6px;
    padding-left: 5px;
}


.bs-example > .row{
    margin: 0;
}

.text-time{
    font-size: 12px;
    color: #636363;
}

.chang-time{
    color: #9D9D9D;
}

.cs-select{
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    border:1px silver solid;
    border-radius: 3px;
}

.form-tq{
    width: auto;
    height: 30px;
}

.area{
     float: left;
     width: 400px;

 }
.exc-h{
    margin-top: 20px;
    margin-bottom: 20px;
}

.exc-hh{
    margin-top: 15px;
    margin-bottom: 10px;
}


.area-l{
    margin-left: 20px;
}

.time-c{
  margin-left:40px;
}

.link-posit-t {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
}
.text-hei{
    font-size: 12px;
    font-weight: 900;
    color: #636464;
}

.text-reddd{
    font-size: 16px;
    color: #f02c2c;
    font-weight: 700;
}

.line-h{
    height: 30px;
    margin-top: 10px;
}



.bg-style{
    border-right:1px solid #EEEEEE;;
    border-left:1px  solid #EEEEEE;;
    padding-bottom: 0px;
    padding-top: 0px;
}

.tb-in{
   padding-left: 0px;
}

.tb-nb{
    margin-bottom: 0px;
    margin-top: 0px;
}
.check-btn{
    margin-left:11px;
    margin-right:44px;
}
.salesman-input{
    padding-left:5px;
    color: #919191;
    font-size: 12px;
}
table tr.status-exception td{
    color:#f02c2c;
}
.single-exception,table tr td.single-exception{
    color:#f02c2c;
    font-weight:bold;
}
.border-right-grey{
    border-right:1px solid #eee;
}
.border-bottom-grey{
    border-bottom:1px solid #eee;
}
.multi-row{
    padding:0 !important;
}
.multi-row p{
    height:49px;
    line-height:33px;
    margin:0;
    padding:8px 20px;
}
.btn-findup{
    display: none;
    background-color: #bbcd91;
    color:#fff;
    margin-left:10px;
}
.btn-findup:hover{
    color:#fff;
}
tr:hover .btn-findup{
    display: inline-block;
}
.width-fixed{
    min-width:220px;
}
.wait-setting{
    margin-left:5px;
    margin-right:40px;
    padding:3px;
    background-color:#fbfbfb;
    color:#8c8c8c;
    border:1px solid #eee;
    font-size:12px;
}
.dialog-calender .search-date{
    width:100%;
    top:0;
    vertical-align: middle;
}
.gd-btn-sure{
    margin-top:25px;
    background-color: #3893c7;
    color:#fff;
}
.gd-btn-sure:hover,
.wait-btn-delete:hover{
    color:#fff;
}
.wait-btn-delete{
    background-color:#f2a838;
    color:#fff;
}
.wait-page-index{
    width:500px;
    margin:0 auto;
    text-align: center;
}
.wait-feedback{
    text-align: center;
}
