.icon-visit-record{
	background: url(../img/visit/bfjl.png) no-repeat;
}
.visit-body .box-title{
	padding-top: 5px;
	padding-bottom: 5px;
}
.visit-body .link-posit{
	top: 21px;
}
.icon-visit-task{
	background:url(../img/task/renwu.png) no-repeat ;
}







