.saojie-set-body .box-title h4{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.saojie-set-body .box-body{
	padding-top: 15px;
}
.saojie-name-label{
	font-weight: bold;
	min-width: 70px;
}
.saojie-name-input{
	margin-top: 0;
}
@media (max-width: 480px) {
	.saojie-name-input{
		width: 50%;
	}
}
.icon-tag-span{
	position: relative;
	top: -3px;
	padding: 6px;
	padding-top: 5px;
	margin: 0 15px;
	font-size: 12px;
	color: #FFF;
	background: url(../img/icon/saojie/set/tag-span.png) no-repeat ;
}
.addreass,.td-span{
	margin: 0 15px;
}
@media (min-width:900px ) {
	.set-table{
		margin-left: 10.2828%;
	}
	
}
/*审核通过按钮*/
.btn-audit,
.btn-audit:hover,
.btn-audit:focus{
	background: #3BA2DC;
	border-color: #3285B7;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}
/*扫街顺序列表*/
.saojie-set-list {
	position: relative;
}
/*调整顺序图标*/
.sequence{
	position: absolute;
	top: -28px;
	right: 10%;
	z-index: 500;
	padding-left: 25px;
	color: #3894C7;
	font-size: 14px;
	font-weight: bold;	
	cursor: pointer;
	background: url(../img/icon/saojie/set/sxtz.png) no-repeat left;
}
.sequence:hover{
	color: #318bbf;
}
@media (max-width: 1450px) {
	.sequence{
		right: 8%;
	}
}
@media (max-width: 1024px) {
	.sequence{
		right: 7%;
	}
}
.saojie-set-list .table>tbody>tr>td{
	vertical-align: middle;
}
.saojie-set-list .table>tbody>tr>td:first-child{
	padding-left: 7%;
}
.saojie-set-list .table>tbody>tr>td>span{
	font-size: 12px;
}
/*箭头*/
.icon-arow{
	cursor: pointer;
	visibility: hidden;
	padding: 2px 10px 14px 10px;
	margin: 0 5px;
}
.icon-arow.active{
	visibility: visible;
}	
/*向下*/
.arow-down{
	background: url(../img/icon/saojie/set/arow-down-out.png) no-repeat ;
}
tr:last-child .arow-down{
	background: url(../img/icon/saojie/set/arow-down-no.png) no-repeat ;
	cursor: not-allowed;
}
.arow-down:hover{
	background: url(../img/icon/saojie/set/arow-down-on.png) no-repeat ;
}
/*向上*/
.arow-up{
	background: url(../img/icon/saojie/set/arow-up-out.png) no-repeat ;
}
.arow-up:hover{
	background: url(../img/icon/saojie/set/arow-up-on.png) no-repeat ;
}
tr:first-child .arow-up{
	background: url(../img/icon/saojie/set/arow-up-no.png) no-repeat ;
	cursor: not-allowed;
}
.saojie-set-list .table{
	border-bottom: 1px solid #ddd;
}
.saojie-set-submit{
	margin-top: 15px;
}
.saojie-set-submit .btn{
	width: 63%;
}
.saojie-set-map{
	
}
.map-tital{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.drive-row{
	padding: 0 10px;
	margin-left: 20px;
}
/*地图边框*/
.map-box{
	border: 1px solid #d43f3a;
	margin-bottom: 50px;
}






