.icon-nuser{
    background: url(../../img/addcode/xm.png) no-repeat;
}

.box.border.black {
    border: 1px solid #bebebe;
}


.spbq{
    width: 250px;
    height: 250px;
    float: left;
    line-height: 2;
    padding: 10px 10px 0 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.biankuang{
    width: 3px;
    height: 3px;
    position: absolute;
    z-index: 99;
    border-radius:10px;
    /*background: black;*/
}
.biankuang_1{
    height: 3px;
    top: -6px;
    left:0px;
    border-left: 3px solid #EB5858;
}
.biankuang_2 {
    width: 0px;
    bottom:-3px;
    left: 0px;
    border-top: 3px solid #EB5858;
}
.biankuang_3{
    height: 0px;
    bottom:0px;
    right:0px;
    border-right: 3px solid #EB5858;
}
.biankuang_4{
    width:0px;
    top:-3px;
    right:0px;
    border-bottom: 3px solid #EB5858;
}
.text_gobuy {
    position: absolute;
    z-index:9;
    top: -30px;
    left: 0px;
    width: 280px;
    height: 50px;
    overflow: hidden;
    background:rgba(207, 208, 211, 0);
    cursor: pointer;
    transition:all  300ms;
    -webkit-transition:all  300ms;
    -moz-transition:all  300ms;
    -o-transition:all  300ms;
}
.text_gobuy_show{
    height: 50px;
    position: absolute;
    z-index:9;
    bottom: 0px;
    width: 280px;
    overflow: hidden;
    padding: 20px 15px ;
    cursor: pointer;
    background-color: rgba(32, 32, 33,0.3);
}
.spbq p{
    position: absolute;
    bottom:10px;
    left:110px;
    line-height: 33px;
    color: #fff
}
