.icon-oil-detail,
.icon-visit{
    background:url(../img/icon/kaohe/kaohexiangqing.png) no-repeat;
}
.box-body{
    border:1px solid #eee;
}
.list-item{
    margin:0 -20px;
    padding:20px;
    border-bottom:1px dashed #eee;
    font-size:12px;
    color:#555555;
}
.location:before{
    display:inline-block;
    content:'>';
    padding-right:5px;
}
.abnormal-state{
    color:#ff9804;
}
.normal-state:before,
.abnormal-state:before{
    display: inline-block;
    content:'(';
    color:#000;
}
.normal-state:after,
.abnormal-state:after{
    display: inline-block;
    content:')';
    color:#000;
}

.oil-info{
    float:left;
    margin:10px 65px 10px 0;
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    color:#1087cb;
}
.clearfix:before,
.clearfix:after{
    display:table;
    content:'';
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}
.link-posit{
    margin-top:30px;
}
.ico{
    padding:2px 22px 10px 2px;
}
.order{
    display: inline-block;
    width:21px;
    height:21px;
    line-height: 21px;
    color:#fff;
    text-align: center;
    background-color: #2185fd;
    font-family: "Microsoft Yahei";
}
.begin{
    background-color:#03be0d;
}
.end{
    background-color: #fe5244;
}
.task:before{
    display:inline-block;
    content:'【';
}
.task:after{
    display:inline-block;
    content:'】';
}
.task{
    color:#3893c7;
}
h2{
    margin:0;
    padding:0;
    font-size:14px;
    color:#5c5c5c;
    font-weight:bold;
}
.find-up{
    float:right;
    font-size:12px;
    color:#288dc6;
}
.map-wrapper{
    margin:10px 0 24px;
    border:1px solid #eee;
}
.map-wrapper img{
    width:100%;
}
.icon-visit{
    top:5px;
}
.icon-oil-record{
    background:url(../img/icon/oil-subsidy/oil.png) no-repeat;
    top:5px;
}
.icon-abnormal{
    background:url(../img/icon/oil-subsidy/abnormal.png) no-repeat;
    top:5px;
}
